<div class="page-header row">
  <h1>Applications <small>are what we want to focus on</small></h1>
</div>
<div class="row fit-height">
  <%= render 'list', core_applications: @core_applications %>
</div>
