<div class="page-header row">

  <%= breadcrumb([
    ['Applications', core_applications_path]
  ]) %>

  <h1>Applications <small>are what we want to focus on</small></h1>
</div>
<div class="row fit-height">
  <%= render 'list', core_applications: @core_applications %>
  <div class="span10"><%= paginate @core_applications %></div>
</div>
