<div class="span10">

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>RPM</th>
        <th>State</th>
      </tr>
    </thead>

    <tbody>
      <% http_passers.each do |http_passer| %>
        <tr>
          <td><%= link_to http_passer.ui_name, http_passer %></td>
          <td><%= http_passer.rpm(Time.now, 24 * 60 * 60).round(2) %></td>
          <td><span class="label <%= http_passer.error_level %>"><%= http_passer.state_message %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="span4">
  <%#= link_to 'Edit', edit_core_machine_path(@core_machine), class: 'btn large' %>
</div>
