<div class="page-header">
  <h1>Passers <small>keep on talking</small></h1>
</div>
<div class="row">
  <%= render 'list', http_passers: @http_passers %>
  <div class="span10"><%= paginate @http_passers %></div>
</div>
