<div class="span10">

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>RPM</th>
        <th>State</th>
      </tr>
    </thead>

    <tbody>
      <% http_backends.each do |http_backend| %>
        <tr>
          <td><%= link_to "#{http_backend.core_application.name}:#{http_backend.process}:#{http_backend.instance}", http_backend %></td>
          <td><%= http_backend.rpm(Time.now, 3600).round(2) %></td>
          <td><span class="label <%= http_backend.error_level %>"><%= http_backend.state_message %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="span4">
  <%#= link_to 'Edit', edit_core_machine_path(@core_machine), class: 'btn large' %>
</div>
