<div class="page-header">
  <h1>Backends <small>do all the work</small></h1>
</div>
<div class="row">
  <%= render 'list', http_backends: @http_backends %>
  <div class="span10"><%= paginate @http_backends %></div>
</div>
