<script type="text/x-handlebars" data-template-name="menu-items">
  <ul>
    {{#each items}}
    <li>{{name}}</li>
    {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="dashboard">
  Dashboard
</script>

<script type="text/x-handlebars" data-template-name="application.list-item">
  <td>{{content.name}}</td>
</script>
