<div class="span10">

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Path</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% http_path_rules.each do |http_path_rule| %>
        <tr>
          <td><%= link_to "#{http_path_rule.core_application.name}#{http_path_rule.path}", http_path_rule %></td>
          <td><%= http_path_rule.actions %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="span4">
  <%= link_to 'New Path Rule', new_http_path_rule_path, class: 'btn large success' %>
</div>

