<div class="span10">

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Path</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% http_path_rules.each do |object| %>
        <tr>
          <% if object.owner_type == 'Core::Application' %>
            <td><%= link_to object.ui_name, [:edit, @core_application, object] %></td>
          <% else %>
            <td><%= object.ui_name %></td>
          <% end %>
          <td><%= object.actions %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="span4">
  <%= link_to 'New Path Rule', [:new, @core_application, :http_path_rule], class: 'btn large success' %>
</div>

