<div class="span10">

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% http_domain_rules.each do |http_domain_rule| %>
        <tr>
          <td><%= link_to http_domain_rule.ui_name, [:edit, @core_application, http_domain_rule] %></td>
          <td><%= http_domain_rule.actions %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="span4">
  <%= link_to 'New Domain Rule', [:new, @core_application, :http_domain_rule], class: 'btn large success' %>
</div>
