<div class="span10">

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Domain</th>
        <th>RPM</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% http_domain_rules.each do |http_domain_rule| %>
        <tr>
          <td><%= link_to "#{http_domain_rule.core_application.name}:#{http_domain_rule.domain}", http_domain_rule %></td>
          <td><%= http_domain_rule.rpm(Time.now, 3600).round(2) %></td>
          <td><%= http_domain_rule.actions %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<div class="span4">
  <%= link_to 'New Domain Rule', (defined?(new_link) ? new_link : new_http_domain_rule_path), class: 'btn large success' %>
</div>
