@import "colors";

body {
  background-color: $c_light;
  color: $c_dark;

  font-family: Helvetica;

  margin: 0;
}

em {
  font-weight: bold;
  font-style: inherit;
}

div#wrapper {
  width: 800px;
  margin: 30px auto;

  h1 {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid $c_medium;
  }
}

table {
  width: 100%;
  border-collapse:collapse;

  td, th {
    padding: 10px 0;
  }

  th {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  tbody {
    td, th {
      border-top: 1px solid $c_medium;
    }
    td.no-border, th.no-border {
      border: none;
    }
  }
}
